:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hwb(300 95% 3%);
    --White: hsl(0, 0%, 100%);
}


.box{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

.titulo{
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.subtitulo{
    color: var(--Very-Dark-Magenta);
    font-weight: 400;
}


.avaliacao_box{
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 5px;
}

.avaliacao_text{
    font-weight: 500;
    color: var(--Very-Dark-Magenta);
}

.comentario{
    background-color: var(--Very-Dark-Magenta);
    border-radius: 5px;
}

.comentario_text{
    font-weight: 400;
    line-height: 20px;
}

.foto > img{
    border-radius:40px;
    width: 35px;
}

.perfil_nome{
    color: var(--White);
    margin: 0 0 2px 0;
}

.perfil_descri{
    color: var(--Soft-Pink);
    margin: 2px 0 0 0;
}

.comentario_text{
    color: var(--White);
}

@media screen and (max-width: 1440px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(images/bg-pattern-top-desktop.svg) top left no-repeat, url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
        background-size: 400px, 600px;
    }

    .box{
        margin: 70px 0;
        width: 90%;
        height: 50%;
    }

    .box_top{
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    .texto-inicial{
        margin: 0 0 0 18px;
    }

    .titulo{
        margin:0;
        text-align: left;
        width: 200px;
        font-size: 30px;
        letter-spacing: -2px;
    }

    .subtitulo{
        text-align: left;
        width: 300px;
        font-size: 12px;
        line-height: 15px;
        margin: 25px 0;
    }

    .avaliacao_box{
        width: 280px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
    }

    .avaliacao_text{
        font-weight: 600;
        font-size: 12px;
    }

    .avalicao_star{
        margin: 0 7px 0 0;
    }

    .estrela{
        width: 12px;
    }

    .reviews{
        margin: 0 0 15px -180px;
        width: 200%;
        height: 20%;
    }

    .guru{
        margin: 0 0 15px -140px;
        width: 200%;
        height: 20%;
    }

    .tech{
        margin: 0 0 0 -80px;
        width: 200%;
        height: 20%;
    }

    .box-comentario{
        display: flex;
        margin-top: 20px;
    }

    .comentario{
        padding: 20px;
        margin: 0 15px;
        width: 350px;
        height: 180px;
    }

    .comentario_perfil{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .perfil{
        margin: 0 0 0 10px;
        font-size: 10px;
    }

    .perfil_nome{
        margin: 0 0 2px 0;
        font-size: 10px;
    }

    .colton{
        width: 20%;
        height: 100px;
    }

    .irene{
        margin: 10px 15px 0 0;
        width: 20%;
        height: 100px;
    }

    .anne{
        margin: 25px 0 0 0;
        width: 20%;
        height: 100px;
    }

    .comentario_text{
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .foto > img{
        width: 25px;
    }
}

@media screen and (max-width: 375px){
    body{
        background: url(images/bg-pattern-top-mobile.svg) top no-repeat, url(images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
        background-size: 30px;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .box_top{
        display: flex;
        flex-direction: column;
        width: 94%;
        align-items: center;
    }

    .texto-inicial{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        margin: 0;
    }

    .titulo{
        text-align: center;
        width: 100%;
        font-size: 40px;
    }

    .subtitulo{
        text-align: center;
        width: 90%;
        font-size: 12px;
    }

    .avaliacao{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .avaliacao_text{
        margin: 10px 0 0 0;
        font-size: 15px;
    }

    .avaliacao_box{
        width: 99%;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 8px 0;
    }

    .estrela{
        width: 15px;
    }

    .box-comentario{
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comentario{
        width: 240px;
        padding: 20px;
        margin: 15px 0;
        display: flex;
        flex-direction: column;
    }

    .colton{
        width: 70%;
        height: 80%;
    }

    .irene{
        margin: 0 0 0 0;
        width: 70%;
        height: 80%;
    }

    .anne{
        margin: 15px 0 0 0;
        width: 70%;
        height: 80%;
    }

    .comentario_perfil{
        display: flex;
    }

    .perfil{
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .comentario_text{
        font-size: 15px;
        line-height: 18px;
    }
}